<!DOCTYPE html>
<head land="en">
    <meta charset="utf-8">
    <title>Jeremy A. Quist</title>
    <meta name="description" content="">
    <meta name="author" content="Jeremy Quist">
    <link rel="stylesheet" href="../styles/base.css">
</head>

<body>
    <script src="../js/index.js"></script>
    <header>
        <h1>Welcome!</h1>
    </header>
    <div id="intro">
        <p>My name is Jeremy Quist, and I am a web developer, writer, and researcher.</p>
        <div id="menu">
            <div class="menu-box">Web Development</button>
            <div class="menu-box">Writing</button>
            <div class="menu-box">Research and Education</button>
            <div class="menu-box">Contact</button>
        </div>

    </div>
    <div id="developer">
        <h2>Web Development</h2>
        <div id="training">
            <ul id="training-ul">
                <li>Udacity Nanodegree | React | 2020</li>
                <li>Udacity Nanodegree | Frontend Web Development | 2020</li>
                <li>Oregon State University | Web Development Courses | 2013-14</li>
            </ul>
        </div>
        <div id="skills">
            <h2>With Skills In:</h2>
            <ul id="skills-ul">
                <li>HTML/CSS</li>
                <li>Javascript, React, Node.js, Express</li>
                <li>Wordpress, Adobe Creative Suite</li>
            </ul>
            <p>This site was created from scratch using ... </p>
        </div>
        <div id="projects-github">
            <p>Check out my Github</p>
            <a href="https://github.com/jeraquis"><img id="github-img" src=""></a>
        </div>
        <div id="example">
            <h2>Wanna see something cool React can do?</h2>
            <button id="sure">Sure!</button>
            <div id="container">

            </div>
        </div>
    </div>
    <div id="writer">
        <h2>Writing</h2>
        <div id="samples">
            <h3>Some writing samples:</h3>
            <ul id="samples-ul">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href="https://medios1.com/trump-announces-second-meeting-with-kim-jong-un/">Second Meeting With Kim Jong Un Announced - Medios1.com</a></li>
            </ul>
        </div>
        <div id="lgbtq-life">
            <h3>I wrote three volumes in an educational series of books for middle and high school students:</h3>
            <ul id="book-ul">
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <p>You can find them on the website of the publisher <a href="">Mason Crest</a></p>
            <p>Or on <a href="">Amazon</a></p>
        </div>
    </div>
    <div id="researcher">
        <div id="education">
            <h2>Education</h2>
            <ul id="school">
                <li>MS Global Technology and Development | Arizona State University | 2017</li>
                <li>BS Political Science | Oregon State University | 2014</li>
            </ul>
        </div>
        <div id="research">
            <h2>Research</h2>
            <p>Description</p>
        </div>
    </div>
    <div id="contact">

    </div>
</body>